/*TOKYO NIGHT*/

$primary: #7aa2f7;
$secondary: #1a1b26;


$success: #9ece6a;
$danger: #f7768e;
$warning: #e0af68;
$info: #7dcfff;

$bg-main: #1a1b26;
$text-main: #c0caf5;


$border-color: #2f334d;


$shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
$shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
$shadow-lg: 0 10px 20px rgba(0, 0, 0, 0.4);

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 1024px,
);

$gutter: 20px; 
