$primary: #8c3c39; /* Color primario */
$secondary: #4e0a82; /* Color secundario */
$success: #1f8a70; /* Color de éxito */
$danger: #6b0f1a; /* Color de peligro */
$warning: #b8860b; /* Color de advertencia */
$info: #00adef; /* Color de información */

$bg-main: #0d0d0d; /* Color de fondo principal */
$text-main: #eaeaea; /* Color de texto principal */

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 1024px,
);
