/*TOKYO NIGHT*/

// Colores principales
$primary: #7aa2f7;
$secondary: #1a1b26;

// Colores de estado
$success: #9ece6a;
$danger: #f7768e;
$warning: #e0af68;
$info: #7dcfff;

// Colores de fondo y texto
$bg-main: #1a1b26;
$text-main: #c0caf5;

// Bordes
$border-color: #2f334d;

// Sombras
$shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
$shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
$shadow-lg: 0 10px 20px rgba(0, 0, 0, 0.4);

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 1024px,
);

$light-bg-main: #f5f7ff;
$light-text-main: #1a1a2e;

$light-primary: #4f46e5;
$light-secondary: #ffffff;

$light-border: #d1d5db;
$gutter: 20px; /* Espaciado */
