@use '../abstracts/variables' as *;

/* Filas */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(-#{$gutter} / 2);
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: (100% / 12) * $i;
    padding: 0 calc(#{$gutter} / 2);
  }
}

/* Mover columnas */
@for $i from 1 through 11 {
  .offset-#{$i} {
    margin-left: (100% / 12) * $i;
  }
}

/* Box sizing para evitar problemas de tamaño  */
[class^="col-"] {
  box-sizing: border-box;
}

/* Generar columnnas responsivas */
@each $name, $size in $breakpoints {
    @media (min-width: $size) {
        @for $i from 1 through 12 {
            .col-#{$name}-#{$i} {
                width: (100%/12) * $i;
            }
        }
    }
}
