@use '../abstracts/variables' as *;

.border {
  border: 1px solid $border-color;
}

.border-0 {
  border: none;
}

.rounded {
  border-radius: $radius-md;
}

.rounded-sm {
  border-radius: $radius-sm;
}

.rounded-lg {
  border-radius: $radius-lg;
}

.rounded-full {
  border-radius: 9999px;
}

.shadow-sm {
  box-shadow: $shadow-sm;
}

.shadow {
  box-shadow: $shadow-md;
}

.shadow-lg {
  box-shadow: $shadow-lg;
}