@use "../abstracts/variables" as *;


$bg-colors: (
  primary: $primary,
  secondary: $secondary,
  main: $bg-main,
  success: $success,
  danger: $danger,
);


$text-colors: (
  primary: $primary,
  secondary: $secondary,
  main: $text-main,
  success: $success,
  danger: $danger,
);


@each $name, $color in $bg-colors {
  .bg-#{$name} {
    background-color: $color !important;
  }
}


@each $name, $color in $text-colors {
  .text-#{$name} {
    color: $color !important;
  }
}
