@use "../abstracts/variables" as *;

// Mapa para colores de fondo
$bg-colors: (
  primary: $primary,
  secondary: $secondary,
  main: $bg-main,
  success: $success,
  danger: $danger,
);

// Mapa para colores de texto
$text-colors: (
  primary: $primary,
  secondary: $secondary,
  main: $text-main,
  success: $success,
  danger: $danger,
);

// Generamos las clases de fondo
@each $name, $color in $bg-colors {
  .bg-#{$name} {
    background-color: $color !important;
  }
}

// Generamos las clases de texto
@each $name, $color in $text-colors {
  .text-#{$name} {
    color: $color !important;
  }
}


.bg-main {
  background: $light-bg-main;
}

.text-main {
  color: $light-text-main;
}

body.dark .bg-main {
  background: $bg-main;
}

body.dark .text-main {
  color: $text-main;
}