@use "../abstracts/mixins" as *;

$gaps: (
  1: 8px,
  2: 16px,
  3: 24px,
  4: 32px,
  5: 40px,
);

// Generar clases de gap
@include generate-gap($gaps);

/* Aplicar flex */
.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}
.flex-wrap {
  flex-wrap: wrap !important;
}

/* Justify content */
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}

/* Align items */
.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
