@use '../abstracts/variables' as *;

@each $key, $value in $spacings {
    /* Margin */
    .m-#{$key} {
        margin: $value;
    }
    .mt-#{$key} {
        margin-top: $value;
    }
    .mb-#{$key} {
        margin-bottom: $value;
    }
    .ml-#{$key} {
        margin-left: $value;
    }
    .mr-#{$key} {
        margin-right: $value;
    }

    /* Padding */
    .p-#{$key} {
        padding: $value;
    }
    .pt-#{$key} {
        padding-top: $value;
    }
    .pb-#{$key} {
        padding-bottom: $value;
    }
    .pl-#{$key} {
        padding-left: $value;
    }
    .pr-#{$key} {
        padding-right: $value;
    }
}