@use '../abstracts/variables' as *;

.alert {
  padding: 14px 18px;
  border-radius: 8px;
  color: white;
  margin: 10px 0;
  font-weight: 500;

  border-left: 5px solid rgba(255,255,255,0.3);

  transition: 0.3s ease;

  &:hover {
    transform: translateY(-2px);
  }

  &--success {
    background: $success;
  }

  &--danger {
    background: $danger;
  }

  &--warning {
    background: $warning;
    color: black;
  }

  &--info {
    background: $info;
  }
}