@use "../abstracts/variables" as *;

.badge {
  display: inline-block;

  text-decoration: none;

  padding: 6px 12px;

  border-radius: 999px;

  font-size: 12px;
  font-weight: 600;

  color: white;

  text-align: center;

  transition: 0.3s ease;

  &:hover {
    opacity: 0.85;
  }

  &--primary {
    background: $primary;
  }

  &--success {
    background: $success;
  }

  &--danger {
    background: $danger;
  }

  &--warning {
    background: $warning;
    color: black;
  }
}
