@use "../abstracts/variables" as *;

.navbar {
  display: flex;

  justify-content: space-between;

  align-items: center;

  flex-wrap: wrap;

  padding: 1rem 2rem;

  background: rgba($secondary, 0.8);

  backdrop-filter: blur(8px);

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 1rem;
  }

  &__logo {
    font-size: 24px;

    font-weight: 800;

    color: white;
    
    text-decoration: none;

    //agregamos efecto de blur en caso de que el logo sea un span
    span { 
    color: $info;
    text-shadow: 0 0 3px $info;
    }
  }
  

  &__menu {
    display: flex;

    gap: 12px;


    @media (max-width: 768px) {
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  a {
    color: white;

    text-decoration: none;

    font-weight: 500;

    padding: 8px 12px;

    border-radius: 6px;

    background: rgba($border-color, 0.5);

    border: 1px solid rgba($border-color, 0.8);

    @media (max-width: 768px) {
      flex: 1 1 auto;
      text-align: center;
      min-width: 120px;
    }
    &:hover {
      background: rgba($info, 0.2);
      border-color: $info;
      color: $info;
      box-shadow: 0 0 15px $info;
      transform: translateY(-2px);
    }
  }
}
